.menuContainer {
  display: flex;
  justify-content: space-between;
}

.navigation{
  display: flex;
  justify-content: flex-end;
}

.menuItem {
  margin: 0 50px 0 0;
  font-size: 24px;
  padding: 60px 0;
}

.selected {
  font-weight: bold;
  text-decoration: underline;
}
