.main {
  text-align: center;
  margin: 80px 100px 0 100px;
}

.vision {
  font-size: 24px;
  font-weight: 600;
  max-width: 930px;
  margin: 0 auto;
}

.description {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 80px;
  max-width: 930px;
  margin: 10px auto 60px auto;
}

.Team {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .teamMember {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  @media screen and (max-width: 1100px) {
    .teamMember {
      align-items: center;
      width: 100%;
      flex-direction: column;
      & > div {
        margin-bottom: 20px;
      }

      .CardContainer {
        width: 80%;
        height: unset;
      }
    }
  }

  .CardContainer {
    width: 320px;
    height: 382px;

    padding: 32px 18px;

    border: 1px solid #a8a8a8;
    border-radius: 8px;
    text-align: center;

    font-weight: 500;
    font-size: 24px;
    color: #5f5f5f;

    .memberImg {
      margin: 0 auto 32px auto;
      color: #2c2c2c;
    }

    .memberName {
      color: #2c2c2c;
      font-weight: 600;
      font-size: 30px;
    }

    .memberRole {
      padding: 0 4px;
      line-height: 1.5em;
    }
  }
}
.valueContent {
  height: 260px;
  display: flex;
  justify-content: center;

  .value:nth-child(2n) {
    align-self: flex-end;
  }
}

.Values {
  margin-top: 40px;
  font-size: 22px;
}

@media screen and (max-width: 700px) {
  .valueContent {
    width: auto;
    height: auto;
    align-items: center;
    flex-direction: column;

    .value:nth-child(2n) {
      align-self: center !important;
    }
  }
}

@media screen and (max-width: 600px) {
  .main {
    margin-left: 20px;
    margin-right: 20px;
  }
}
