.main {
  text-align: center;
  margin: 0 100px 0 100px;
}
.vision {
  font-size: 30px;
  margin: 0 250px 0 250px;
}
.values{
  display: flex;
  height: 200px;
}
.value{
  width: 200px;
  justify-content: flex-end;
  //flex-direction: row;
}