.Header {
  height: 665px;
  display: flex;
}

.Features {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featureList {
  display: flex;
  width: 1000px;
  justify-content: space-between;
}

.Map {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .featureList {
    width: auto;
    align-items: center;
    flex-direction: column;
    & > div {
      margin-bottom: 20px;
    }
  }
}
